.python-version

datasheets/

examples/build/
examples/*.v
examples/*.vcd

hello-minerva/build/
hello-ulx3s/build/

toolchain/litex/
toolchain/oss-cad-suite/
toolchain/*.tgz
toolchain/*.git

target/
**/*.rs.bk
Cargo.lock
hello-femtorv/*.bin
